body{
    background-image: url("../img/background.png");
    background-repeat: repeat-y;
    background-size: cover;
}

.texteJeuxAccueil{
    padding: 5px;
    border: 3px solid cyan;
    border-radius: 20px;
    color: cyan;
    background-color: black;
    font-family: retro;
    font-size: 13px;
    text-align: center;
}

.texteJeuxAccueil button{
    border: 3px solid cyan;
    color: cyan;
    background-color: black;
    font-family: retro;
    font-size: 13px;
    text-align: center;
}

.imageJeuxAccueil{
    max-width: 180px;
    max-height: 180px;
}

@font-face {
    font-family: "Retro";
    src: url('../font/RetroGaming.ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.titreAccueil{
    font-family: retro;
    color: cyan;
    font-size: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.gridAccueil{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10%;
    margin-left:10%;
    margin-right: 10%;
}


.grid-nav
{   
    display: grid;
    grid-template: 1fr 1fr / 1fr 2fr 8fr 2fr;
    background-color: rgb(0,0,0);
    border: solid 5px rgb(0,255,255);
}

.grid-nav-menu
{
    grid-row: 1 / span 2;
}

.grid-nav-menu ul
{
    padding: 0;
    margin: 0;
}

.grid-nav-menu li
{
    font-family: retro;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

.grid-nav-titre
{
    font-family: retro;   
    margin-top: 50px;
    text-align: center;
    grid-row: 1 / span 2;
}

.grid-nav-logo
{
    grid-row: 1 / span 2;
}

.menu-deco-logo, .menu-logo
{
    margin-bottom: -10px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
}

.grid-nav-deco-texte
{
    margin-top: 10px;
    font-family: retro;
    text-align: center;
}

.lien-menu
{
    text-decoration: none;
    font-family: retro;
}

.nom-ent, .lien-deco
{
    font-size: 25px;
    text-decoration: none;
}

.menu-deco-logo
{
    width: 50px;
    height: 50px;
}

.grid-nav-menu nav
{
    margin-top: 58px;
    margin-left: 10px;
}

.grid-nav a, .grid-nav li 
{
    color: rgb(0,255,255);
}


.imgMarque{
    width: 270px;
    height: 150px;
}

.boxMarque {
   

    width: auto;
    height: auto;
    margin-bottom: 5%;
    margin-top: 6%;
    
    padding: 5%;
    background: #3a3e3e;
    box-shadow: 0em 0em 2em grey;
    border-radius:20px;
    border: 3px solid rgb(0, 255, 255);
  }


  .Imaguss{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    margin-right: 15%;
    margin-left: 15%;
    
}


.auth-div
{
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
    border: solid 3px rgb(0,255,255);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.auth-div table
{
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.auth-div h1
{
    color: rgb(0,255,255);
    font-family: retro-gaming;
    text-align: center;
    margin-top: 40px;
}

.auth-div p
{
    color: rgb(0,255,255);
    font-family: retro-gaming;
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}

.form-auth button
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    font-family: retro-gaming;
    color: rgb(0,255,255);
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0,255,255);
}

.form-auth button:hover 
{
    color: rgb(0,255,255);
    background-color: rgb(0, 90, 90);
    border: solid 2px rgb(0,255,255);
}

.form-auth button:focus 
{
    color: rgb(0,255,255);
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0,255,255);
}

.form-auth button:active 
{
    color: rgb(0,255,255);
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0,255,255);
}

.form-auth button:focus:hover
{
    color: rgb(0,255,255);
    background-color: rgb(0, 90, 90);
    border: solid 2px rgb(0,255,255);
}

.form-auth button:focus:active 
{
    color: rgb(0, 90, 90);
    background-color: rgb(0,255,255);
    border: solid 2px rgb(0, 90, 90);
}

#retour-form button
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    font-family: retro-gaming;
    color: rgb(0,255,255);
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0,255,255);
}

#retour-form button:hover 
{
    color: rgb(0,255,255);
    background-color: rgb(0, 90, 90);
    border: solid 2px rgb(0,255,255);
}

#retour-form button:focus 
{
    color: rgb(0,255,255);
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0,255,255);
}

#retour-form button:active 
{
    color: rgb(0,255,255);
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0,255,255);
}

#retour-form button:focus:hover
{
    color: rgb(0,255,255);
    background-color: rgb(0, 90, 90);
    border: solid 2px rgb(0,255,255);
}

#retour-form button:focus:active 
{
    color: rgb(0, 90, 90);
    background-color: rgb(0,255,255);
    border: solid 2px rgb(0, 90, 90);
}

.msgReu
{
    margin-top: 20px !important;
    color: rgb(0, 255, 0) !important;
}

.msgErr
{
    margin-top: 20px !important;
    color: rgb(255, 0, 0) !important;
}

.admin
{
    color: rgb(0, 0, 255) !important;
    margin-bottom: -20px !important;
}

.ajoutMarque{
    color: rgb(255, 0, 0) ;
}

.etat{
    position: relative;
    width: 25%;
    height: 20%;
    margin-bottom: 5%;
    margin-top: 6%;
    left: 35%;
    font-size: 20px;
    padding: 5%;
    background: #000000;
    box-shadow: 0em 0em 2em grey;
    border-radius:20px;
    border: 3px solid rgb(0, 255, 255);
}

.btnAddEtat{
    position: absolute;
    top:90%;
    left: 40%;
    
    
}

.imageJeux{
    max-width: 200px;
    max-height: 200px;
    margin-left: 5%;
}

.etat tr{
    
    color: rgb(0,255,255);

}


.etat button
{
    text-align: center;
    border: solid 3px rgb(0,255,255);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}

.plus-console
{
    display: block;
    margin-left: 15%;
    margin-right: auto;
    

    font-family: retro-gaming;
    color: rgb(0,255,255);
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0,255,255);
}

.etat button:hover 
{
    color: rgb(0,255,255);
    background-color: rgb(0, 90, 90);
    border: solid 2px rgb(0,255,255);
}

.etat button:focus 
{
    color: rgb(0,255,255);
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0,255,255);
}

.etat button:active 
{
    color: rgb(0,255,255);
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0,255,255);
}

.etat button:focus:hover
{
    color: rgb(0,255,255);
    background-color: rgb(0, 90, 90);
    border: solid 2px rgb(0,255,255);
}

.etat button:focus:active 
{
    color: rgb(0, 90, 90);
    background-color: rgb(0,255,255);
    border: solid 2px rgb(0, 90, 90);
}

.inputEtat
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    

    font-family: retro-gaming;
    color: rgb(0,255,255);
    background-color: rgb(103, 102, 102);
    border: solid 2px rgb(0,255,255);
}

.inputEtat:hover 
{
    color: rgb(0,255,255);
    background-color: rgb(0, 90, 90);
    border: solid 2px rgb(0,255,255);
}

.inputEtat:focus 
{
    color: rgb(0,255,255);
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0,255,255);
}

.inputEtat:active 
{
    color: rgb(0,255,255);
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0,255,255);
}

.inputEtat:focus:hover
{
    color: rgb(0,255,255);
    background-color: rgb(0, 90, 90);
    border: solid 2px rgb(0,255,255);
}

.inputEtat:focus:active 
{
    color: rgb(0, 90, 90);
    background-color: rgb(0,255,255);
    border: solid 2px rgb(0, 90, 90);
}

.validEtat
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    

    font-family: retro-gaming;
    color: rgb(0,255,255);
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0,255,255);
}

.validEtat:hover 
{
    color: rgb(0,255,255);
    background-color: rgb(0, 90, 90);
    border: solid 2px rgb(0,255,255);
}

.validEtat:focus 
{
    color: rgb(0,255,255);
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0,255,255);
}

.validEtat:active 
{
    color: rgb(0,255,255);
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0,255,255);
}

.validEtat:focus:hover
{
    color: rgb(0,255,255);
    background-color: rgb(0, 90, 90);
    border: solid 2px rgb(0,255,255);
}

.validEtat:focus:active 
{
    color: rgb(0, 90, 90);
    background-color: rgb(0,255,255);
    border: solid 2px rgb(0, 90, 90);
}

.btn-modif
{
    margin-right: 30px;
}

.btn-suppr
{
    margin-left: 30px;
}


.btn-suppr, .btn-modif
{
    margin-bottom: 10px;
}

.btn-non
{
    margin-left: 60px;
}

.btn-oui
{
    margin-right: 60px;
}

.imageConsole{
    max-width: 150px;
    max-height: 150px;
}

.btnTri{
    width: 20px;
    height: 20px;
}

.cyan{
    background-color: cyan;
}